# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

### Redis ###
dump.rdb

### MongoDB ###
mongodb/

### Celery ###
celerybeat-schedule

### env files ###
*.env

# End of https://www.gitignore.io/api/django
